/* reset css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


/* accordion styles */
.accordion {
  max-width: 100%;
  margin: 0 auto; /* centers */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  /* prevent elements from overflowing */
  background-color: #f8f9fa;
}

.accordion-item {
  border: none;
  /* Remove default borders */
}

.accordion-button {
  background-color: #ffffff;
  border-bottom: 1px solid #198754;
  font-weight: bold;
  padding: 5px;
}

.accordion-button:focus {
  box-shadow: none;
  /* Remove focus outline */
}

.accordion-button:not(.collapsed) {
  background-color: #e9ecef;
  /* darker background for expanded items */
}

.accordion-body {
  background-color: #fff;
  padding: 15px;
  color: #333;
  /* text color */
}

.accordion-collapse {
  transition: height 0.3s ease;
  /* colaps duration */
}

hr {
  margin: 0.5rem 0;
  color: #198754;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
}

.btn-link {
  font-size: small;
  font-weight: bold;
  color: #198754;
  text-decoration: none;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  color: #198754;
  text-decoration: none;
}